#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 12px 0px;
  font-size: 14px;
  position: relative;
  margin-bottom: 15px;
  margin-top: -15px;
  z-index: 0;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
  height: 105vh;
}

.friends-screen__channel-header {
  margin-top: 25px;
  font-size: 14px;
  padding-top: 15px;
  border-top: var(--main-border);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--subtitle-text-color);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 105vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 0.5s;
  z-index: 97;
}

@keyframes playthemusic {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.user-component__status:hover {
  animation: playthemusic 0.4s ease-in-out forwards;
}

.fa-birthday-cake {
  margin-left: 10px;
  color: var(--pink);
  font-size: 20px;
}
