.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column__chat {
  margin-left: 15px;
}

.alt-header__column:nth-child(2) {
  margin-right: auto;
  margin-left: auto;
}

.alt-header__column__for-chat {
  margin-right: 50px;
}
