.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
}

.notification-dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.need_notification-dot {
  position: relative;
}

.notification-dot--cog {
  position: absolute;
  left: 25px;
  bottom: 18px;
}

.notification-dot__talk-drive {
  position: absolute;
  left: 45px;
  bottom: 40px;
}

.warning-badge {
  color: tomato;
  padding-left: 5px;
}
