.badge {
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.badge__new {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
}

.notification-dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.need_notification-dot {
  position: relative;
}

.notification-dot--cog {
  position: absolute;
  left: 25px;
  bottom: 18px;
}

.notification-dot__talk-drive {
  position: absolute;
  left: 45px;
  bottom: 40px;
}

.warning-badge {
  color: tomato;
  padding-left: 5px;
}
